// BUTTONS

@mixin button($color) {
	color: $white;
	background-color: $color;
	border-radius: 0;
	border: 1px solid $color;
	font-size: 12pt;
	text-transform: uppercase;	
	text-decoration: none;
	padding: 10px 15px;

	&:hover {
		background-color: shade($color, 60%);
	}
}

